body{
    background: #8cc461;
    color: white;
}

.upperMain{
    border: 1px solid white;
    width: 50%;
    margin-left: 22rem;
    margin-top: 3rem;
    border-radius: 8px;
    padding-left: 2rem;
    display: flex;
}

.upperDiv{
    border: 1px solid white;
    height: 5rem;
    width: 6rem;
    margin-top: 1rem;
    margin-left: 20rem;
    margin-right: 1rem;
    border-radius: 8px;
    background: white;
    color: black;
    font-size: 10px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1.2rem;
}

.score{
    font-size: 2rem;
    position: relative;
    left: 0.7rem;
}

.score1{
    font-size: 2rem;
    position: relative;
    left: 0.2rem;
}

.upperDiv1{
    border: 1px solid white;
    height: 5rem;
    width: 6rem;
    margin-top: 1rem;
    border-radius: 8px;
    background: white;
    color: black;
    font-size: 10px;
    box-sizing: border-box;
    padding-left: 1.9rem;
}

.leftMain{
    margin-top: 5rem;
    margin-left: 18rem;
    position: relative;
    box-sizing: border-box;
}

.fistImg img{
    width: 5rem;
    margin-top: 1rem;
    margin-left: 7px;
}

.fistImg{
    border: 12px solid #0074B6;
    width: 6rem;
    height: 6rem;
    background: white;
    border-radius: 50%;
}

.scImg img{
    width: 3rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 25px;
}

.scImg{
    position: relative;
    border: 12px solid #BD00FF;
    width: 6rem;
    height: 6rem;
    background: white;
    border-radius: 50%;
}

.handImg img{
    width: 4rem;
    margin-top: 1rem;
    margin-left: 18px;
}

.hr1{
    width: 11rem;
    height: 1rem;
    background: darkslategray;
    position: relative;
    top: -20rem;
    left: -19rem;
    z-index: -1;
}

.hr2{
    width: 11rem;
    height: 1rem;
    background: darkslategray;
    position: relative;
    transform: rotate(58deg);
    top: -14rem;
    left: -24rem;
    z-index: -1;
}

.hr3{
    width: 11rem;
    height: 1rem;
    background: darkslategray;
    position: relative;
    transform: rotate(-58deg);
    top: -15rem;
    left: -14rem;
    z-index: -1;
}

.innerData{
    font-size: 4rem;
    margin-top: -1  rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.innerData button{
    height: 2rem;
    width: 100%;
    border-radius: 8px;
    background: white;
    font-weight: 600;
    border: 5px solid darkslategray;
    cursor: pointer;
}

.b1{
    position: absolute;
    top: -3rem;
    left: 1.5rem;
}

.b2{
    position: absolute;
    top: -3rem;
    left: 35.5rem;
}

.ownerOption{
    margin-left: 18rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.b{
    margin-left: 27rem;
}

.handImg{
    position: relative;
    border: 12px solid #FFA943;
    width: 6rem;
    height: 6rem;
    background: white;
    border-radius: 50%;
}

.rightMain{
    position: relative;
    top: -17rem;
    left: 65rem;
    border: 5px solid white;
    background: #004429;
    text-align: center;
    width: 15rem;
    border-radius: 8px;
    padding-left: 1rem;
}

ul{
    list-style-type: square;
    padding: 1rem;
    font-size: 12px;
}

.x{
    background: red;
    height: 1rem;
    padding: 0.8rem;
    border-radius: 50%;
    border: 7px solid white;
    position: relative;
    top: -37rem;
    margin-left: 96%;
}

.rules{
    position: relative;
    top: -21rem;
    margin-left: 78rem;
    height: 1.5rem;
    padding-top: 0.5rem;
    border-radius: 8px;
    border: 2px solid white;
    padding-left: 1rem;
    cursor: pointer;
}

.next{
    position: relative;
    top: -24.6rem;
    left: -6rem;
    margin-left: 78rem;
    height: 1.5rem;
    padding-top: 0.5rem;
    border-radius: 8px;
    border: 2px solid white;
    padding-left: 1rem;
    cursor: pointer;
}

.next1{
    opacity : 0;
}

.rightMainRules{
    opacity: 0;
}

.cValue{
    border: 1rem solid #2E9A25;
    border-radius: 50%;
}

.outerDiv{
    border: 1rem solid #41af36;
    border-radius: 50%;
}

.outerDiv1{
    border: 1rem solid #4cbe42;
    border-radius: 50%;
}
